@reference "../../styles/global.css";

.mobile {
  display: none;

  @media (width <= 572px) {
    display: initial;
  }
}

.desktop {
  display: initial;

  @media (width <= 572px) {
    display: none;
  }
}
