@reference "../../styles/global.css";

.container {
  @apply w-full;

  margin: 0 auto;
  padding: 0 15px;
  max-width: var(--layout-width);

  &.wide {
    max-width: var(--layout-width-wide);
  }

  @media (width <= 1004px) {
    max-width: 100%;
  }

  @media (width <= 572px) {
    padding: 0 31px;
  }
}
